<div class="row">
       <div class="col-md-8 col-md-offset-2">
           <p> © 2017 Slorcus.com, "Slorcus company"
           Все содержание, включая идеи оформления и стиль, являются объектом авторского права. Копирование и размещение материалов на других сайтах
           без письменного разрешения "Slorcus company" не допускается. Материалы, отмеченные знаком P, публикуются на правах рекламы.
           Телефоны: редакция – (111) 111-11-11, отдел рекламы – (222) 222-22-22
           </p>
       </div>
</div>