<div class="row">
       <div class="col-md-8 col-md-offset-2">
           <p> © 1993–2017 ITC.ua, ООО «ХОТЛАЙН»
           Все содержание, включая идеи оформления и стиль, являются объектом авторского права. Копирование и размещение материалов на других сайтах
           без письменного разрешения ООО «ХОТЛАЙН» не допускается. Материалы, отмеченные знаком P, публикуются на правах рекламы.
           Телефоны: редакция – (044) 496-34-63, отдел рекламы – (044) 496-34-69
           </p>
       </div>
</div>