{% load static %}

<div class="row">
       <div class="col-md-2 logo">
           <a href="{% url 'home' %}"><img src="{% static "media/images/Logo.png" %}"></a>
       </div>
       <div class="col-md-2">
           <a href="{% url 'home' %}">Home</a>
       </div>
       <div class="col-md-2">
           <a href="{% url 'library' %}">Library</a>
       </div>
       <div class="col-md-2">
           <a href="#">...</a>
       </div>
       <div class="col-md-2">
           <a href="#">...</a>
       </div>
    <div class="col-md-2" id="basket">
        {% for product_in_basket in products_in_basket %}
                {{ product_in_basket.book_id }}
        {% endfor %}
    </div>
</div>
